<div ng-controller="sortCtrl" ng-app="smart_management"
  data-plural-model-name = "<%= plural_model_name %>">

  <h1><%= plural_model_name.capitalize %></h1>

  <div class="modal fade" id="formContainer" tabindex="-1" role="dialog"
    aria-labelledby="formModalLabel" aria-hidden="true">
  </div>

  <%= render 'table' %>

  <a href="{{new_path}}" data-remote="true">Add a new</a>
</div>
