<script type="text/ng-template" id="row">
  <tr>
    <% visible_columns.each do |column| %>
       <td><%= smart_management_row(column) %></td>
    <% end %>
   <td><a href="javascript:" ng-click="showEdit(row)">Edit</a></td>
   <td><a href="javascript:" ng-click="deleteEntry(row)">Delete</a></td>
  </tr>
</script>
